body {
    background-color: darkslateblue;
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.frase-pronta {
    margin-top: 22px;
    margin-bottom: 40px;
    width: 235px;
    height: 20px;
    background-color: red;
}

#botao-enviar {
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
}
