body {
    background-color: darkslateblue;
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.frase-pronta {
    margin-top: 22px;
    margin-bottom: 40px;
    width: 235px;
    height: 20px;
    background-color: red;
}


