body {
    background-color: #282a36;
    display: flex;
    justify-content: center;
}

.front-block {
    width: 500px;
    height: 300px;
    position: fixed;
    top: 50%;
    display: inline-block;
    transform: translate(0%, -50%);
    background-color: palevioletred;
    box-shadow: black -10px 10px;
    border-radius: 15px;
}

/*COMEÇO DOS ESTILOS DOS BOTÕES DE TRADUZIR E APAGAR*/
.buttons {
    border-radius: 10px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    height: 50px;
    width: 100px;
    font-family: arial;
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
}

.send-btn {
    position: relative;
    left: 190px;
    top: 20px;
    background: green;
    color: #fff;
    box-shadow: -5px 7px black;
}

.send-btn:hover {
    background: #006000;
}

.send-btn:active {
    position: relative;
    box-shadow: none;
    top: 25px;
    left: 185px;
}

.erase-btn {
    position: relative;
    left: 100px;
    top: 20px;
    background: red;
    color: #fff;
    box-shadow: -5px 7px black;
}

.erase-btn:hover {
    background: #770101;
}

.erase-btn:active {
    position: relative;
    box-shadow: none;
    top: 25px;
    left: 95px;
}



/*FIM DOS ESTILOS DOS BOTÕES DE TRADUZIR E APAGAR*/

/*COMEÇO DO ESTILO DO TEXT INPUT*/

.text-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 120px;
}

.binario {
    position: relative;
    top: 20px;
    background-color: transparent;
}

.decimal {
    background-color: transparent;
    height: 80px;
}

.output-text-dec, .input-text-bin {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 90px;
    box-shadow: black -5px 5px;
    border-radius: 10px;
    border: none;
    font-family: arial;
    font-size: 17px;
}

/*FIM DO ESTILO DO TEXT INPUT*/

.titulo {
    color: cornsilk;
    font-size: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    text-align: center;
    list-style: 100px;
}