body {
    background-color: 	#282a36;
    display: flex;
    justify-content: center;
}

.bingo {
    background-image: url('srcs/fundo-bingo.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.botoes {
    
}